/* mobail responsive styles */

@media screen and (max-width: 576px) {

    .banner-title{
        
        
        font-size: 1.5rem;
    }

    .banner-description{
        font-size: 1rem;
    }
    .banner-frame-container{
        flex-direction: column;
        align-items: center;
    }


    .banner-box{
        width: 100%;
    }

    /* popploer item respinsib */

    .popular-container{
        flex-direction: column;
    }

    .popular-text{
        width: 100%;
    }

    .popular-img{
        width: 100%;
        margin-top: 1rem;
    }

    .destination-img{
        /* display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr); */
        gap: 1rem;
        display: block;
        object-fit: cover;
        
       
        
    }

    /* why choose section responsiv */
    .card-container{
        flex-direction: column;
    }

    .card-3{
        width: 99%;
        
        
        
    }

    /* place section responsive */

    .place-container{
        flex-direction: column;
    }
    
    .place-text{
        width: 100%;
        margin-left: 1rem;
        margin-bottom: 1rem;
        
        
    }

    .place-video{

        width: 100%;
        max-width: 100%;
        
        
        
    }
    
    
    }
    


